<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1 th:text="Register">form</h1>
<form action="#" method="POST" th:action="@{/registration}"  th:object="${user}"  >
  <div>
    <label th:text="Name">first</label>
    <input type="text" id="username" name="username" th:field="*{username}" required/>
    <div th:if="${#fields.hasErrors('username')}" th:errors = "*{username}" ></div>
  </div>
  <div>
    <label th:text="Password">password</label>
    <input type="password" id="password" name="password" th:field="*{password}" required/>
    <div th:if="${#fields.hasErrors('password')}" th:errors = "*{password}" ></div>
  </div>

  <button type="submit" th:text="Submit">submit</button>
</form>

<a href="/login" th:text="Login">login</a>
</body>
</html>